html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --text-success-color: #0ae4af;
  --text-main-color: #2e4865;
  --text-secondary-color: #8295b5;

  --main-color: #30a6ff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
span,
h1,
h2,
h3,
div {
  color: var(--text-main-color);
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@keyframes modalBottomOpen {
  from {
    bottom: -100vh;
  }
  to {
    left: 0;
  }
}

.animate-modal {
  animation-name: modalBottomOpen;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.text-success {
  color: var(--text-success-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}
